.modal-form {
  width: 450px;

  height: 609px;
  padding: 40px;

  @include mq(desktop) {
    width: 528px;
    height: 581px;
  }
}

.modal-form__field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.modal-form_list {
  margin-bottom: 30px;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-color-text);
  text-align: center;
}

.modal-form__label {
  margin-bottom: 4px;
}

.modal-form__box {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;

  width: 100%;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
}

.modal-form__input:focus,
.modal-form__input:hover {
  border: 1px solid var(--acent-color-text);
  outline: 0;
  outline-offset: 0;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--acent-color-button-background);
  outline: 0;
  outline-offset: 0;
}

.modal-form__textarea {
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
}

.modal-form__textarea-input {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea-input:focus,
.modal-form__textarea-input:hover {
  border: 1px solid var(--acent-color-text);
  outline: 0;
  outline-offset: 0;
}

.modal-form__label-condition {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.17;
  }

  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__check-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form__check-icon {
  display: inline-block;
  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 8px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check-input:checked + .modal-form__check-icon {
  background-color: #2196f3;

  background-image: url(../Images/check.svg);
  background-size: cover;
  background-origin: border-box;
  border-color: #2196f3;
  background-repeat: no-repeat;
}

.modal-form__check-input:focus + .modal-form__check-icon {
  outline: 0;
  outline-offset: 0;

  border-color: var(--acent-color-button-background);
}

/* final check */

/* button modal */
.modal-form__main-btn {
  display: flex;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  justify-content: center;
}
