:root {
    --primary-color-text: #757575;
    --secondary-color-text: #212121;
    --color-hero: #ffffff;
    --acent-color-button-text: #f5f4fa;
    --acent-color-button-background: #2196f3;
    --acent-color-text: #2196f3;
    --color-button-background: #f5f4fa;
}